/*setup game*/
.game{
    width:500px;
    height:500px;   
    border:1px black solid;
    position:relative;
}
.game > *{
    position:absolute;   
}
.start-text{
    text-align:center;
    width:100%;
}
.obstacle{
    background-color:red;
    transform:translate(var(--x1),var(--y1));
}
.game-over {
    background-color: pink;
    width: 500px;
    height: 500px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: -1;
    visibility:hidden;
}



/*starting a game*/
.game:hover .start-text{
    visibility:collapse;
}



/*running the game*/
.game:hover .obstacle{
    transition:transform var(--time) linear var(--delay);
    transform:translate(var(--x2),var(--y2));
}



/*checking game over*/
.obstacle:hover ~ .game-over, .game-over:hover{
    visibility: visible;
}
