/*setup game*/
.game{
    width:500px;
    height:500px;   
    border:1px black solid;
}
.game > *{
    position:absolute;   
}
.start-text{
    margin:auto;
    text-align:center;
}
.obstacle{
    background-color:red;
    transform:translate(var(--posx),var(--posy));
}



/*starting a game*/
.game:hover .start-text{
    visibility:collapse
}



/*running the game*/
.game:hover .move-down{
    transition:transform var(--time) linear;
    transform:translate(var(--posx),calc(var(--posy) + var(--dist)));
}

