/*setup game*/
.game{
    width:500px;
    height:500px;   
    border:1px black solid;
}
.game > *{
    position:absolute;   
}
.start-text{
    margin:auto;
    text-align:center;
}
.obstacle{
    background-color:red;
    transform:translate(var(--x1),var(--y1));
}



/*starting a game*/
.game:hover .start-text{
    visibility:collapse
}



/*running the game*/
.game:hover .obstacle{
    transition:transform var(--time) linear var(--delay);
    transform:translate(var(--x2),var(--y2));
}

